---
import BaseLayout from '../layouts/BaseLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../config';
import { getCollection } from 'astro:content';
import sortArticleByDate from '../utils/sortArticleByDate';
import H2 from '../components/ui/H2.astro';
import Text from '../components/ui/Text.astro';
import ArticleListSection from '../layouts/ArticleListSection.astro';

const pageKind = 'About';

const selfIntroduction = await getCollection('selfIntroduction');

const allPosts = await getCollection('blog');
const recentEntries = allPosts.sort(sortArticleByDate).slice(0, 3);
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION} url="/" image="/icon.jpeg" pageKind={pageKind}>
	<div class="flex flex-col gap-16">
		<div class="flex md:flex-row flex-col items-center flex-wrap gap-9">
			<div class="flex flex-col justify-center items-center gap-6 p-2">
				<div class="flex flex-col justify-center items-center gap-2.5 p-2 border-2 border-app-bg-obvious rounded-full">
					<img src="/icon.jpeg" alt="ibulog" class="w-[188px] h-[188px] rounded-full object-cover" />
				</div>
			</div>
			<div class="flex flex-col gap-9 flex-1">
				<H2 text="ibulog" />
				<Text text={selfIntroduction[0]?.data.text || ''} />
			</div>
		</div>
		<div class="flex flex-col items-stretch gap-9 w-full">
			<H2 text="Recent Articles" />
			<div class="px-3">
				<ArticleListSection entries={recentEntries} showViewMore={true} viewMoreHref="/blog" />
			</div>
		</div>
	</div>
</BaseLayout>
