---
import BaseLayout from '../layouts/BaseLayout.astro';
import { SITE_TITLE, SITE_DESCRIPTION, ICON_IMAGE, PAGE_KINDS } from '../config';
import { getCollection } from 'astro:content';
import sortArticleByDate from '../utils/sortArticleByDate';
import { Image } from 'astro:assets';
import H2 from '../components/ui/H2.astro';
import Text from '../components/ui/Text.astro';
import ArticleListSection from '../layouts/ArticleListSection.astro';
import { RECENT_ARTICLES_COUNT } from '../config';

const pageKind = PAGE_KINDS.ABOUT;

const selfIntroduction = await getCollection('selfIntroduction');

const allPosts = await getCollection('blog');
const recentEntries = allPosts.sort(sortArticleByDate).slice(0, RECENT_ARTICLES_COUNT);
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION} url="/" image={ICON_IMAGE} pageKind={pageKind}>
	<div class="flex flex-col gap-16">
		<div class="flex md:flex-row flex-col items-center flex-wrap gap-6">
			<div class="flex flex-col justify-center items-center gap-6 p-2">
				<div class="flex flex-col justify-center items-center gap-2.5 p-2 border-2 border-app-border-default rounded-full">
					<Image src={ICON_IMAGE} alt="ibulog" width={188} height={188} class="w-[188px] h-[188px] rounded-full object-cover" />
				</div>
			</div>
			<div class="flex flex-col gap-9 flex-1">
				<H2 text="ibulog" />
				<Text text={selfIntroduction[0]?.data.text || ''} />
			</div>
		</div>
		<div class="flex flex-col items-stretch gap-9 w-full">
			<H2 text="Recent Articles" />
			<ArticleListSection entries={recentEntries} showViewMore={true} viewMoreHref="/blog" />
		</div>
	</div>
</BaseLayout>
