---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import { SITE_BASE_URL } from '../config';
import '../styles/global.css';
import { ViewTransitions } from 'astro:transitions'

export interface Props {
	title: string;
	description: string;
	url: string;
	image?: string;
}

const { title, description, url, image } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/ico" href="/favicon.ico" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={new URL(url, SITE_BASE_URL)} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, SITE_BASE_URL)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary" />
<meta property="twitter:site" content="@ibulog_">
<meta property="twitter:url" content={new URL(url, SITE_BASE_URL)} />

<!-- FontAwesome -->
<script src="https://kit.fontawesome.com/1ba9dc3b7f.js" crossorigin="anonymous"></script>

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;500&family=Quicksand:wght@300;400&display=swap" rel="stylesheet">

<!-- Google tag (gtag.js) -->
<script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-X5X35DYWPP"></script>
<script type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-X5X35DYWPP');
</script>

<!-- https://zenn.dev/chot/articles/48a58019f246bd -->
<script is:inline>
  function setMode() {
    if (localStorage.getItem('theme') === 'dark') {
      document.documentElement.classList.add('dark');
    }
  };
  setMode();
  document.addEventListener('astro:after-swap', setMode); // NOTE: astro:before-swapだと、モード設定が維持されない
</script>

<ViewTransitions />