---
import { Code } from "astro:components";
import { type BuiltinLanguage, type SpecialLanguage } from "shiki";
import {
  transformerNotationDiff,
  transformerMetaHighlight,
  transformerNotationHighlight,
  transformerNotationFocus,
} from "@shikijs/transformers";

export interface Props {
  lang?: string;
  title?: string;
  code: string;
}

const { lang, title, code } = Astro.props;
const decodedCode = decodeURIComponent(code);

const transformers = [
  transformerNotationDiff(),
  transformerNotationHighlight(),
  transformerMetaHighlight(),
  transformerNotationFocus(),
];
---

<figure class="flex flex-col gap-2.5 py-4 rounded-xl bg-app-bg-subtle">
  {title && (
    <div class="flex flex-row gap-2.5 px-4">
      <div class="flex flex-row items-center h-6 gap-2.5 px-1.5 rounded-lg bg-app-bg-subtle border border-app-border-default">
        <span class="text-xs font-medium text-app-text-subtle">
          {title}
        </span>
      </div>
    </div>
  )}
  <div class="flex flex-row self-stretch code-block-wrapper relative">
    <div class="dark:hidden min-w-0 w-full">
      <Code
        lang={lang as BuiltinLanguage | SpecialLanguage | undefined}
        code={decodedCode}
        wrap={false}
        theme="github-light"
        style="background-color: transparent;"
        transformers={transformers}
      />
    </div>
    <div class="hidden dark:block min-w-0 w-full">
      <Code
        lang={lang as BuiltinLanguage | SpecialLanguage | undefined}
        code={decodedCode}
        wrap={false}
        theme="github-dark"
        style="background-color: transparent;"
        transformers={transformers}
      />
    </div>
  </div>
</figure>
