---
import { Code } from "astro:components";
import { type BuiltinLanguage, type SpecialLanguage } from "shiki";
import {
  transformerNotationDiff,
  transformerMetaHighlight,
  transformerNotationHighlight,
  transformerNotationFocus,
} from "@shikijs/transformers";
interface Props {
  lang?: string;
  title?: string;
  code: string;
}
const { lang, title, code } = Astro.props;
const decodedCode = decodeURIComponent(code);
---

<figure class="flex flex-col gap-2.5 p-3 rounded-xl bg-app-bg-default-reverse">
  {title && (
    <div class="flex flex-row gap-2.5 h-6">
      <div class="flex flex-row items-center self-stretch gap-2.5 px-1.5 rounded-lg bg-app-bg-default-reverse border border-app-border-default-reverse">
        <span class="text-xs font-medium leading-none text-app-border-default-reverse">
          {title}
        </span>
      </div>
    </div>
  )}
  <div class="flex flex-row self-stretch p-3 code-block-wrapper relative">
    <div class="dark:hidden">
      <Code
        lang={lang as BuiltinLanguage | SpecialLanguage | undefined}
        code={decodedCode}
        wrap={false}
        theme="dark-plus"
        style="background-color: transparent;"
        transformers={[
          transformerNotationDiff(),
          transformerNotationHighlight(),
          transformerMetaHighlight(),
          transformerNotationFocus(),
        ]}
      />
    </div>
    <div class="hidden dark:block">
      <Code
        lang={lang as BuiltinLanguage | SpecialLanguage | undefined}
        code={decodedCode}
        wrap={false}
        theme="light-plus"
        style="background-color: transparent;"
        transformers={[
          transformerNotationDiff(),
          transformerNotationHighlight(),
          transformerMetaHighlight(),
          transformerNotationFocus(),
        ]}
      />
    </div>
  </div>
</figure>
