---
import { Code } from "astro:components";
import { type BuiltinLanguage, type SpecialLanguage } from "shiki";
import {
  transformerNotationDiff,
  transformerMetaHighlight,
  transformerNotationHighlight,
  transformerNotationFocus,
} from "@shikijs/transformers";

export interface Props {
  lang?: string;
  title?: string;
  code: string;
}

const { lang, title, code } = Astro.props;
const decodedCode = decodeURIComponent(code);

const transformers = [
  transformerNotationDiff(),
  transformerNotationHighlight(),
  transformerMetaHighlight(),
  transformerNotationFocus(),
];
---

<figure class="flex flex-col gap-2.5 py-3 rounded-xl bg-app-bg">
  {title && (
    <div class="flex flex-row gap-2.5 px-3">
      <div class="flex flex-row items-center h-6 gap-2.5 px-1.5 rounded-lg bg-app-bg-subtle border border-app-border-default">
        <span class="text-xs font-medium leading-none text-app-text-subtle">
          {title}
        </span>
      </div>
    </div>
  )}
  <div class="flex flex-row self-stretch code-block-wrapper relative">
    <div class="dark:hidden min-w-0 w-full">
      <Code
        lang={lang as BuiltinLanguage | SpecialLanguage | undefined}
        code={decodedCode}
        wrap={false}
        theme="light-plus"
        style="background-color: transparent;"
        transformers={transformers}
      />
    </div>
    <div class="hidden dark:block min-w-0 w-full">
      <Code
        lang={lang as BuiltinLanguage | SpecialLanguage | undefined}
        code={decodedCode}
        wrap={false}
        theme="dark-plus"
        style="background-color: transparent;"
        transformers={transformers}
      />
    </div>
  </div>
</figure>

<style>
  :global(.code-block-wrapper pre.shiki),
  :global(.code-block-wrapper pre.astro-code) {
    display: grid;
    overflow-x: auto;
  }

  :global(.code-block-wrapper code) {
    display: contents;
  }

  :global(.code-block-wrapper .line) {
    padding: 0 1.5rem;
  }

  :global(.code-block-wrapper .line.highlighted),
  :global(.code-block-wrapper .line.diff.add),
  :global(.code-block-wrapper .line.diff.remove) {
    display: inline-block;
    width: 100%;
  }

  :global(.code-block-wrapper .line.diff.add) {
    background-color: var(--color-code-add);
  }

  :global(.code-block-wrapper .line.diff.remove) {
    background-color: var(--color-code-remove);
  }

  :global(.code-block-wrapper .line.highlighted) {
    background-color: var(--color-code-highlight);
  }
</style>
