---
import HamburgerIcon from './ui/HamburgerIcon.astro';
import MoonIcon from './ui/MoonIcon.astro';
import SunIcon from './ui/SunIcon.astro';
import { SITE_TITLE, NAV_ITEMS, ICON_IMAGE } from '../config';
import { Image } from 'astro:assets';

export interface Props {
	pageKind: string;
}

const {pageKind} = Astro.props;

const darkModeXDataScript = `{ 
  isDark: document.documentElement.classList.contains('dark'),
  toggleTheme() {
    this.isDark = !this.isDark;
    if (this.isDark) {
      document.documentElement.classList.add('dark');
      localStorage.setItem('theme', 'dark');
    } else {
      document.documentElement.classList.remove('dark');
      localStorage.setItem('theme', 'light');
    }
  }
}`
---

<header 
	x-data="{ isMobileMenuOpen: false }" 
	class="fixed top-6 left-6 right-6 z-50 max-w-[848px] mx-auto bg-app-bg/80 backdrop-blur-md border border-app-border-default/20 text-app-text shadow-sm rounded-xl flex flex-col px-6 py-4"
>
	<div class="flex justify-between items-center self-stretch h-8">
		<a href="/">
			<div class="flex flex-row items-center gap-2">
				<div class="flex justify-center items-center rounded-full w-8 h-8">
					<Image src={ICON_IMAGE} alt="ibulog" width={32} height={32} class="w-full h-full rounded-full object-cover" />
				</div>
				<div class="text-xl font-medium">
						{SITE_TITLE}
				</div>
			</div>
		</a>
		<div class="flex items-center gap-6">
			<div class="hidden md:flex items-center">
				<nav class="hidden md:flex items-center gap-6">
					{NAV_ITEMS.map((item) => (
						<a
							href={item.href}
							class={`text-sm font-medium ${
								pageKind === item.label ? 'font-semibold text-accent' : 'text-app-text-subtle'
							}`}
						>
							{item.label}
						</a>
					))}
				</nav>
			</div>
			<div class="md:hidden flex items-center">
				<button
					type="button"
					class="cursor-pointer border-0 bg-transparent p-0"
					aria-label="Toggle mobile menu"
					@click="isMobileMenuOpen = !isMobileMenuOpen"
				>
					<HamburgerIcon />
				</button>
			</div>
			<button
				class="cursor-pointer border-0 bg-transparent p-0 flex items-center justify-center w-4 h-4"
				aria-label="Toggle theme"
				x-data={darkModeXDataScript}
				@click="toggleTheme"
			>
				<MoonIcon class="dark:hidden" />
				<SunIcon class="hidden dark:block" />
			</button>
		</div>
	</div>
	<div x-show="isMobileMenuOpen" x-collapse x-cloak class="min-h-0 flex flex-col gap-2.5">
		{NAV_ITEMS.map((item) => (
			<a
				href={item.href}
				class={`flex justify-center items-center p-2.5 first:mt-3 text-base font-medium ${
					pageKind === item.label ? 'font-semibold text-accent' : 'text-app-text-subtle'
				}`}
			>
				{item.label}
			</a>
		))}
	</div>
	<!-- MarkdownPostLayoutからArticleIndexBarが移動される -->
	<div id="article-index-bar-slot" class="absolute top-full left-0 w-full flex flex-col items-center z-40 pt-3">
	</div>
</header>

<script is:inline>
	const setTheme = (element) => {
		const theme = (() => {
			if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
				return localStorage.getItem('theme');
			}
			if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
				return 'dark';
			}
			return 'light';
		})();

		if (theme === 'light') {
			element.classList.remove('dark');
		} else {
			element.classList.add('dark');
		}

		if (typeof localStorage !== 'undefined') {
			localStorage.setItem('theme', element.classList.contains('dark') ? 'dark' : 'light');
		}
	}

	setTheme(document.documentElement);
	// TODO: イベントリスナーを重複登録しないようにする
	document.addEventListener('astro:before-swap', (event) => {
		setTheme(event.newDocument.documentElement);
	});
</script>