---
import type { CollectionEntry } from "astro:content";

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Tag from '../components/Tag.astro';
import MarkdownPostLayout from '../../layouts/MarkdownPostLayout.astro';
import getFormatDay from '../utils/getFormatDay.ts';

type Props = {
  entry: CollectionEntry<'blog'>;
};

const { entry, prevArticle, nextArticle } = Astro.props;
const { title, description, pubDate, heroImage, tags } = entry.data;
const { headings } = await entry.render();
const { slug } = entry;

const pageKind = 'Blog'
---

<html lang="ja">
	<head>
		<BaseHead title={title} description={description} url={`/blog/${slug}`} image={heroImage} />
		<style>
			.title {
				margin: 0.25rem 0 0;
			}
			hr {
				border-top: 0.5px solid #c1bdb7;
				margin: 1rem 0;
			}
			.metaData {
        font-family: 'Quicksand';
				font-size: 1rem;
        margin-top: 0.5rem;
        display: flex;
      }
      #tag {
        margin-left: 16px;
      }
			.metaData time {
				flex: 0 0 130px;
				color: #23221e;
			}
      .back a {
        color: #030302;
        text-decoration: none;
				font-size: 1.25rem;
      }
			.toc {
				border-radius: 10px;
				border: 2px solid #23221e;
				padding: 0.5rem 1rem;
				margin-top: 2rem;
			}
		</style>
	</head>

	<body>
		<Header pageKind={pageKind} />
		<main>
			<article>
				{heroImage && <img width={1080} height={540} src={heroImage} alt="" />}
				<h1 class="title">{title}</h1>
				<div class="metaData">
					<div>
						<i class="fa-regular fa-calendar"></i>
						<time datetime={pubDate}>
							{getFormatDay(pubDate)}
						</time>
					</div>
					<div id="tag">
						<i class="fa-solid fa-tag"></i>
						{tags.map((tag) => (
							<Tag tag={tag} />
						))}
					</div>
				</div>
				<div class="toc">
					<h2>目次</h2>
					<ul>
						{headings.map((heading) => (
							<li>
								<a href={`#${heading.slug}`}>{heading.text}</a>
							</li>
						))}
					</ul>
				</div>
				<slot />
			</article>
			<div class="prevNextArticle">
				{(prevArticle === undefined)
					? undefined
					: <a href={`/blog/${prevArticle.slug}`}>{prevArticle.data.title}</a>
				}
				{(nextArticle === undefined)
					? undefined
					: <a href={`/blog/${nextArticle.slug}`}>{nextArticle.data.title}</a>
				}
			</div>
			<div class="back">
				<a href="/blog"><i class="fa-solid fa-arrow-rotate-left"></i> Return</a>
      </div>
		</main>
		<Footer />
	</body>
</html>
