---
import { getOgData } from '../../utils/getOgData';

export interface Props {
	url: string;
	title: string;
	description: string;
}

const { url, title, description } = Astro.props;

const ogData = await getOgData(url);
const ogImageUrl = ogData.image;
---

<div class="flex flex-row justify-stretch items-stretch w-full rounded-xl h-24 bg-app-bg">
  <div class="flex flex-col self-stretch px-4 md:px-6 py-6 flex-1 justify-between min-w-0">
      <h2 class="text-base font-bold text-app-text truncate">
        <a href={url} target="_blank" rel="noopener noreferrer">{title}</a>
      </h2>
      <span class="text-xs font-medium text-app-text-subtle leading-none">
		{description}
      </span>
  </div>
  {ogImageUrl && (
    <div class="flex flex-row justify-end items-center h-full flex-shrink-0">
        <img
          src={ogImageUrl}
          alt={title}
          class="w-30 h-24 md:w-42 md:h-24 rounded-r-xl object-cover"
        />
    </div>
  )}
</div>

